<!-- Bar Chart Container -->
<div
class="">
    <div class="flex items-center justify-between mb-6 px-6 py-4 border-b border-slate-100 dark:border-slate-800 bg-slate-50/50 dark:bg-slate-800/50">
        <h3 class="font-bold text-slate-800 dark:text-white flex items-center gap-2 text-sm">
            {{"dashboard.unitsByBloodGroup" | translate}}
        </h3>
          <span class="material-symbols-outlined text-slate-400 cursor-pointer">more_vert</span>

    </div>
  <!-- <div class="flex items-center justify-between mb-6">
    <h3 class="font-bold text-slate-800 dark:text-slate-200">
      {{"dashboard.unitsByBloodGroup" | translate}}
    </h3>
    <span class="material-symbols-outlined text-slate-400 cursor-pointer">more_vert</span>
  </div> -->
  <div class="p-6">
  <div class="flex items-end gap-2 h-75">
    <div class="flex-1 bg-primary/20 rounded-t h-[60%] relative group">
      <div
        class="absolute -top-6 left-1/2 -translate-x-1/2 text-[10px] font-bold opacity-0 group-hover:opacity-100 transition-opacity">
        A+
      </div>
    </div>
    <div class="flex-1 bg-primary/40 rounded-t h-[40%]"></div>
    <div class="flex-1 bg-primary rounded-t h-[90%]"></div>
    <div class="flex-1 bg-primary/60 rounded-t h-[55%]"></div>
    <div class="flex-1 bg-primary/30 rounded-t h-[30%]"></div>
    <div class="flex-1 bg-primary/80 rounded-t h-[75%]"></div>
    <div class="flex-1 bg-primary/50 rounded-t h-[45%]"></div>
    <div class="flex-1 bg-primary/90 rounded-t h-[80%]"></div>
  </div>
  <div class="flex justify-between mt-2 text-[9px] font-bold text-slate-400">
    <span>A+</span><span>A-</span><span>B+</span><span>B-</span><span>O+</span><span>O-</span><span>AB+</span><span>AB-</span>
  </div>
  </div>
</div>